<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decorações Cacau</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao portfólio da Cacau </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/galeria">Galeria</a>
            <a href="/contato">Contato</a>
            <a href="/sobre">Sobre</a>
        </nav>
    </header>
    <main>
        <h2>Deixe sua festa inesquecível!</h2>
    </main>
</body>
</html>
